<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.UserCommentMapper" >
  <resultMap id="BaseResultMap" type="com.blog.pojo.UserComment" >
    <id column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="article_id" property="articleId" jdbcType="INTEGER" />
    <result column="comment_content" property="commentContent" jdbcType="VARCHAR" />
    <result column="comment_user_id" property="commentUserId" jdbcType="INTEGER" />
    <result column="comment_time" property="commentTime" jdbcType="INTEGER" />
    <result column="parent_comment_id" property="parentCommentId" jdbcType="INTEGER" />
    <result column="comment_ip" property="commentIp" jdbcType="VARCHAR" />
    <result column="fabulous" property="fabulous" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    c_id, article_id, comment_content, comment_user_id, comment_time, parent_comment_id, 
    comment_ip, fabulous
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.blog.pojo.UserCommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_comment
    where c_id = #{cId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_comment
    where c_id = #{cId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.blog.pojo.UserCommentExample" >
    delete from user_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.blog.pojo.UserComment" >
    insert into user_comment (c_id, article_id, comment_content, 
      comment_user_id, comment_time, parent_comment_id, 
      comment_ip, fabulous)
    values (#{cId,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, #{commentContent,jdbcType=VARCHAR}, 
      #{commentUserId,jdbcType=INTEGER}, #{commentTime,jdbcType=INTEGER}, #{parentCommentId,jdbcType=INTEGER}, 
      #{commentIp,jdbcType=VARCHAR}, #{fabulous,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.blog.pojo.UserComment" >
    insert into user_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="commentContent != null" >
        comment_content,
      </if>
      <if test="commentUserId != null" >
        comment_user_id,
      </if>
      <if test="commentTime != null" >
        comment_time,
      </if>
      <if test="parentCommentId != null" >
        parent_comment_id,
      </if>
      <if test="commentIp != null" >
        comment_ip,
      </if>
      <if test="fabulous != null" >
        fabulous,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="commentContent != null" >
        #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="commentUserId != null" >
        #{commentUserId,jdbcType=INTEGER},
      </if>
      <if test="commentTime != null" >
        #{commentTime,jdbcType=INTEGER},
      </if>
      <if test="parentCommentId != null" >
        #{parentCommentId,jdbcType=INTEGER},
      </if>
      <if test="commentIp != null" >
        #{commentIp,jdbcType=VARCHAR},
      </if>
      <if test="fabulous != null" >
        #{fabulous,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.blog.pojo.UserCommentExample" resultType="java.lang.Integer" >
    select count(*) from user_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_comment
    <set >
      <if test="record.cId != null" >
        c_id = #{record.cId,jdbcType=INTEGER},
      </if>
      <if test="record.articleId != null" >
        article_id = #{record.articleId,jdbcType=INTEGER},
      </if>
      <if test="record.commentContent != null" >
        comment_content = #{record.commentContent,jdbcType=VARCHAR},
      </if>
      <if test="record.commentUserId != null" >
        comment_user_id = #{record.commentUserId,jdbcType=INTEGER},
      </if>
      <if test="record.commentTime != null" >
        comment_time = #{record.commentTime,jdbcType=INTEGER},
      </if>
      <if test="record.parentCommentId != null" >
        parent_comment_id = #{record.parentCommentId,jdbcType=INTEGER},
      </if>
      <if test="record.commentIp != null" >
        comment_ip = #{record.commentIp,jdbcType=VARCHAR},
      </if>
      <if test="record.fabulous != null" >
        fabulous = #{record.fabulous,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_comment
    set c_id = #{record.cId,jdbcType=INTEGER},
      article_id = #{record.articleId,jdbcType=INTEGER},
      comment_content = #{record.commentContent,jdbcType=VARCHAR},
      comment_user_id = #{record.commentUserId,jdbcType=INTEGER},
      comment_time = #{record.commentTime,jdbcType=INTEGER},
      parent_comment_id = #{record.parentCommentId,jdbcType=INTEGER},
      comment_ip = #{record.commentIp,jdbcType=VARCHAR},
      fabulous = #{record.fabulous,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.pojo.UserComment" >
    update user_comment
    <set >
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=INTEGER},
      </if>
      <if test="commentContent != null" >
        comment_content = #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="commentUserId != null" >
        comment_user_id = #{commentUserId,jdbcType=INTEGER},
      </if>
      <if test="commentTime != null" >
        comment_time = #{commentTime,jdbcType=INTEGER},
      </if>
      <if test="parentCommentId != null" >
        parent_comment_id = #{parentCommentId,jdbcType=INTEGER},
      </if>
      <if test="commentIp != null" >
        comment_ip = #{commentIp,jdbcType=VARCHAR},
      </if>
      <if test="fabulous != null" >
        fabulous = #{fabulous,jdbcType=INTEGER},
      </if>
    </set>
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blog.pojo.UserComment" >
    update user_comment
    set article_id = #{articleId,jdbcType=INTEGER},
      comment_content = #{commentContent,jdbcType=VARCHAR},
      comment_user_id = #{commentUserId,jdbcType=INTEGER},
      comment_time = #{commentTime,jdbcType=INTEGER},
      parent_comment_id = #{parentCommentId,jdbcType=INTEGER},
      comment_ip = #{commentIp,jdbcType=VARCHAR},
      fabulous = #{fabulous,jdbcType=INTEGER}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
</mapper>